* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.codeblock::-webkit-scrollbar {
    display: none;
}

.actions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    right: 5%;
}
.codeblock {
    height: calc(var(--vh, 1vh) * 50);
    display: flex;
    overflow-x: hidden;
}
.box {
    width: 100%;
    height: 50vh;
    height: calc(var(--vh, 1vh) * 50);
    margin: 0 auto;
    background: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
